node_modules/
.travis.yml
*.swp
.sass-cache/
mods/.sass-cache/
.DS_Store
.idea
test
src
test
tsconfig.json
tsconfig.module.json
.github
.prettierignore
.vscode
**/*.spec.*
coverage
.nyc_output
*.log
 docs